<div class="chat-list {{ className }}">
    <div class="chat-list__header">
        {{{ profileLink }}}

        {{{ searchInput }}}
    </div>

    <div class="chat-list__list">
        {{{ items }}}
    </div>
</div>