.auth-form {
    padding: 50px 30px 30px;
    width: calc(100% - 32px);
    max-width: 340px;
    min-height: 450px;

    display: flex;
    flex-direction: column;

    border-radius: 12px;
    box-shadow: $shadow;

    &__title {
        margin-top: 0;
        margin-bottom: 50px;

        font-size: 20px;
        font-weight: 500;
        line-height: 1;
        text-align: center;
        color: $black;
    }

    &__fields {
        display: grid;
        gap: 15px;

        margin-bottom: 50px;
    }

    &__actions {
        margin-top: auto;

        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 15px;
    }

    &__submit {
        width: 100%;
    }
}