<form class="auth-form">
    <h3 class="auth-form__title">{{ title }}</h3>

    <div class="auth-form__fields">
        {{{ fields }}}
    </div>

    <div class="auth-form__actions">
        {{{ actions }}}
    </div>
</form>