<div class="avatar profile-page__avatar">
    <img src="{{ image }}" alt="Поменять аватар">

    <div class="avatar__overlay">
        <span class="avatar__text">
            Поменять аватар
        </span>
    </div>
</div>
